<div class="container">
  <div class="row">
    <h1 class="px-3 mx-auto">Welcome to
      <i class="fa-solid fa-book" style="color: #000000;"></i>
      <storong>Bookers</storong>!
    </h1>
  </div>
</div>