<h1>Welcome to <i class="fa-solid fa-book" style="color: #000000;"></i>Bookers</h1>
<p>In <i class="fa-solid fa-book" style="color: #000000;"></i>Bookers,<br>
you can share and exchange your opinions , inpressions , and emotions<br>
about various books!
</p>

<div>
  <%= link_to "Log in", new_user_session_path %>
  <%= link_to "Sign_up", new_user_registration_path %>
</div>